@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    background-color: white;
    color: black;
    font-family: "Poppins";
}

.box_pais{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 0 0 10px 10px;
    width: 300px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nome_pais{
    padding-right: 2rem;
    padding-left: 2rem;
}

.nome_pais h3{
    font-size: 18px;
}

.info_pais p{
    margin: 0px;
    padding: 0px;
    padding-right: 2rem;
    padding-left: 2rem;  
    font-size: 15px; 
}

.image_pais img{
    height: 190px;
    width: 298px;
    border-bottom: 1px solid black;
}